<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <style>
        header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-family: 'Poppins',sans-serif;
}
        body{
    background-color: white;
    max-width: 700px;
    margin: auto;
    padding: 20;
    font-family: 'Poppins',sans-serif;

}
        footer {
	background-color: #222;
	color: white;
	text-align: flex-end;
	padding: 10px 0;
    justify-content: flex-start;
}
    </style>
</head>
<body>
<header>Welcome to the Employee Database</header>
<p>This is part 3 of my project</p>
<p>The Database is the final version of the project which incorporates the back end to the front end</p>
<p>This application displays my learning journey for Java, IntelliJ, Springboot framework using dependencies such as Web server, Thymleaf, H2, JPA</p>
<p>
        <a href="/employees">View Employee Database</a>
</p>
</body>
<footer>EmployeeDatabase2024 C Ruby Heald</footer>
</html>
